.vscode
Services.Domain/obj
Services.Domain/bin
Services.Domain.Core/obj
Services.Domain.Core/bin
Services.Infra.Data/bin
Services.Infra.Data/obj
Services.Infra.CrossCutting/bin
Services.Infra.CrossCutting/obj
Services.Service/bin
Services.Service/obj
Services.API.Captcha/bin
Services.API.Captcha/obj